<form [formGroup]="loginForm" style="display: flex; justify-content: center;">
    <div class="card col-md-4 col-sm-6 m-4">
        <div class="card-body" *ngIf="isLogin">
            <h5 class="card-title">Login</h5>

            <input type="text" class="form-control form-control-sm mt-3" formControlName="email" placeholder="Email" />
            <input type="text" class="form-control form-control-sm mt-3" formControlName="senha" placeholder="Senha" />

            <button class="btn btn-sm btn-success col-12 mt-3">Entrar</button>

            <label class="mt-3">Não possui conta? <a target="blank" style="color: blueviolet; cursor: pointer;"
                    (click)="isLogin = !isLogin">Cadastre-se!</a></label>

        </div>
        <div class="card-body" *ngIf="!isLogin">
            <h5 class="card-title">Cadastro</h5>
            <label class="card-title">Nós enviaremos um email de confirmação antes de proceder com a conclusão de seu
                cadastro</label>


            <input type="text" class="form-control form-control-sm mt-3" formControlName="email" placeholder="Email" />

            <button class="btn btn-sm btn-success col-12 mt-3">Enviar</button>
            <label class="mt-3">Já possui conta? <a target="blank" style="color: blueviolet; cursor: pointer;"
                    (click)="isLogin = !isLogin">Faça Login!</a></label>
        </div>
    </div>
</form>